/*//META{"name":"hoverMemberlist","description":"Hides member list when not hovered.","author":"Chloesviel","version":"1.2"}*//**/
:root {
	--hover-animation-speed: .35s;
}
DIV[class*="membersWrap-"] {
	width: 80px;
	min-width: unset;
}
DIV[class*="membersWrap-"] DIV[class*="scrollerWrap-"] {
	position: absolute;
	transition: transform var(--hover-animation-speed), background var(--hover-animation-speed);
}
DIV[class*="membersWrap-"]:hover DIV[class*="scrollerWrap-"] {
	transform: translateX(-160px);
	background: rgba(0, 0, 0, .2);
}
DIV[class*="membersWrap-"] DIV[class*="memberInner-"] {
	opacity: 0;
	transition: opacity var(--hover-animation-speed);
}
DIV[class*="membersWrap-"]:hover DIV[class*="memberInner-"] {
	opacity: 100;
}
DIV[class*="membersWrap-"] DIV[class*="avatar-"][class*="small-"] {
	left: 20px;
	transition: left var(--hover-animation-speed);
}
DIV[class*="membersWrap-"]:hover DIV[class*="avatar-"][class*="small-"] {
	left: 0;
}
DIV[class*="membersWrap-"] DIV[class*="membersGroup-"] {
	font-size: 11px;
	transition: font-size var(--hover-animation-speed);
}
DIV[class*="membersWrap-"]:hover DIV[class*="membersGroup-"] {
	font-size: 12px;
}