/*//META{"name":"MinifiedMemberlist","description":"Minifies the Memberlist in guilds.","author":"Chloesviel","version":"1.5"}*//**/

/*User changeable settings*/

:root {
	--hover-animation-speed: .35s;
	--seperator-color: #707e81;
}

/*Don't change anything below this*/

DIV[class*="membersWrap-"] {
	width: 60px;
	min-width: unset;
}
DIV[class*="membersWrap-"] DIV[class*="scrollerWrap-"] {
	position: absolute;
	transition: transform var(--hover-animation-speed), background var(--hover-animation-speed);
}
DIV[class*="membersWrap-"]:hover DIV[class*="scrollerWrap-"] {
	transform: translateX(-180px);
	background: rgba(0, 0, 0, .2);
}
DIV[class*="membersWrap-"] DIV[class*="memberInner-"] {
	opacity: 0;
	transition: opacity var(--hover-animation-speed);
}
DIV[class*="membersWrap-"]:hover DIV[class*="memberInner-"] {
	opacity: 100;
}
DIV[class*="membersWrap-"] DIV[class*="membersGroup-"] {
	cursor: default;
	transform: translateX(45px);
	transition: transform var(--hover-animation-speed);
	overflow: visible;
}
DIV[class*="membersWrap-"]:hover DIV[class*="membersGroup-"] {
	transform: translateX(-6px);
}
DIV[class*="membersWrap-"] DIV[class*="membersGroup-"]::before {
	content: "";
	width: 30px;
	height: 2px;
	border-radius: 50px;
	background-color: var(--seperator-color);
	position: absolute;
	left: -29px;
	top: 29px;
}