.membersWrap_cbd271, .container_f79ab4 {
        min-width: unset !important;
        width: 50px;
        z-index: 1000;
        justify-content: right;
        flex-basis: unset !important;
}
.membersWrap_cbd271 .members_cbd271 {
        transition: transform var(--hover-animation-speed);
        transform: translateX(190px);
}
.membersWrap_cbd271:hover .members_cbd271 {
        transform: translateX(0);
}
.membersWrap_cbd271 .membersGroup_cbd271::after {
        content:"";
        width: 30px;
        height: 2px;
        border-radius: 50px;
        background: unset;
        background-color: var(--seperator-color);
        position: absolute;
        left: -36px;
        top: 29px;
        margin-left: 0px;
}
.membersWrap_cbd271 .members_cbd271 .member_a31c43 {
        background-color: unset;
        margin-left: 0px;
        transition: margin-left var(--hover-animation-speed);
}
.membersWrap_cbd271:hover .members_cbd271 .member_a31c43 {
        margin-left: 8px;
}
.membersWrap_cbd271:hover .membersGroup_cbd271 {
        transform: translateX(-6px);
}
.membersWrap_cbd271 .membersGroup_cbd271 {
        cursor: default;
        transform: translateX(45px);
        transition: transform var(--hover-animation-speed);
        overflow: visible;
}
