/*//META{"name":"MinifiedMemberlist","description":"Minifies the Memberlist in guilds and group chats.","author":"Chloe-ko#6669","version":"2.0"}*//**/

@import url('https://chloe-ko.github.io/Discord-Stuff/minifiedMemberlist/minifiedMemberlist.source.css');

/*User changeable settings*/

:root {
	--hover-animation-speed: .35s;
	--seperator-color: #ff00ff;
	--hover-background-transparency: .5;
}}
